.logo
  position:absolute
  width:700px
  left:50%
  top:100px
  margin-left:-350px
  div
    height:60px
    padding-top:10px
    line-height:60px
    font-size:18px
    font-size:0
    .go_sale
      margin-right:10px
      padding:0 10px
      font-size:20px
    span,a
      font-size:16px
      display:inline-block
      cursor: pointer
      color:#fff
      text-decoration:none
      height:22px
      line-height:22px
    .rule_tit
      width:78px
      padding-left:24px
      border-radius:4px
      margin-right:10px
      background:url('~common/images/text.png') no-repeat 4px center rgba(239,239,239,0.4)
      background-size:16px 16px
      color:#868686
  h1
    font-size:28px
    color:#fff
  .user
    width:60px
    height:60px
    padding-right:6px
    cursor: pointer
// 外卖订单规则
.rule_detail
  width:570px
  min-height:230px
  padding:20px
  position:absolute
  top:240px
  left:50%
  margin-left:-285px
  background-color:#fff
  border-radius:2px
  z-index:3
  .close_rule
    position:absolute
    right:0
    top:0
    padding:10px
  li
    line-height:28px
  h5
    font-size:0
    padding-bottom:10px
    span
      height:30px
      line-height:30px
      font-size:16px
      display:inline-block
      color:#323232
    .pos
      width:130px
      background-color:#4593ff
      border-radius:6px
      text-align:center
      color:#fff