.fixed_
  width:100%
  height:100%
  position:fixed
  left:0
  top:0
  z-index:9999999
.explain
  width:120px
  height:50px
  text-align:center
  position:fixed
  bottom:20px
  left:50%
  margin-left:-60px
  color:#fff
  font-size:12px
  text-decoration:underline
  cursor:pointer
.instruction
  width:80%
  position:fixed
  left:50%
  margin-left:-40%
  top:15%
  z-index:999999
  img
    width:100%
    height:100%
    border-radius:12px
.logo
  position:absolute
  width:70%
  left:50%
  top:50px
  margin-left:-35%
  z-index:1
  .back_home
    width:120px
    height:30px
    line-height:30px
    position:absolute
    top:50%
    margin-top:-15px
    border-radius:6px
    right:0
    text-align:center
    background-color:#57afe2
  div
    position:relative
    height:60px
    padding-top:10px
    line-height:60px
    font-size:18px
    font-size:0
    .go_sale
      margin-right:10px
      padding:0 10px
      font-size:20px
    span,a
      font-size:16px
      display:inline-block
      cursor: pointer
      color:#fff
      text-decoration:none
      height:22px
      line-height:22px
    .rule_tit
      width:78px
      padding-left:24px
      border-radius:4px
      margin-right:10px
      background:url('~common/images/text.png') no-repeat 4px center rgba(239,239,239,0.4)
      background-size:16px 16px
      color:#868686
  h1
    font-size:28px
    color:#fff
  .user
    width:60px
    height:60px
    padding-right:6px
    cursor: pointer
// 外卖订单规则
.rule_detail
  width:570px
  min-height:230px
  padding:20px
  position:absolute
  top:240px
  left:50%
  margin-left:-285px
  background-color:#fff
  border-radius:2px
  z-index:3
  .close_rule
    position:absolute
    right:0
    top:0
    padding:10px
  li
    line-height:28px
  h5
    font-size:0
    padding-bottom:10px
    span
      height:30px
      line-height:30px
      font-size:16px
      display:inline-block
      color:#323232
    .pos
      width:130px
      background-color:#4593ff
      border-radius:6px
      text-align:center
      color:#fff
.all_agency
  position:absolute
  width:70%
  min-width:700px
  left:50%
  margin-left:-35%
  top:180px
// 详情页面
.detail
  .detail_top
    background-color:#488fd7
    color:#fff
    li
      height:36px
      line-height:36px
      font-size:14px
      width:50%
      float:left
      box-sizing:border-box
      padding-left:60px
      border-right:1px solid #d9eef9
      border-bottom:1px solid #d9eef9
      background-size:20px 20px !important
    li:nth-child(2),li:nth-child(4),li:nth-child(6)
      border-right:none
    li:nth-child(5),li:nth-child(6)
      border-bottom:none
    li:nth-child(1)
      background:url('~common/images/user.png') no-repeat 20px center
    li:nth-child(2)
      background:url('~common/images/rq.png') no-repeat 20px center
    li:nth-child(3)
      background:url('~common/images/zsdw.png') no-repeat 20px center
    li:nth-child(4)
      background:url('~common/images/lxr.png') no-repeat 20px center
    li:nth-child(5)
      background:url('~common/images/lxrqz.png') no-repeat 20px center
    li:nth-child(6)
      background:url('~common/images/tel.png') no-repeat 20px center
  .detail_bottom
    position:relative
    background-color:#def0fa
    padding-bottom:40px
    .btn_
      height:34px
      line-height:34px
      padding:0 10px
      background-color:#20a0ff
      text-align:center
      border-radius:6px
      color:#fff
      position:absolute
      right:100px
      bottom:10px
    .btn_no
      width:60px
      height:34px
      line-height:34px
      background-color:#d90011
      text-align:center
      border-radius:6px
      color:#fff
      position:absolute
      right:10px
      bottom:10px
    ul
      padding-top:30px
      box-sizing:border-box
      li
        width:50%
        float:left
        font-size:14px
        box-sizing:border-box
        padding-left:30px
        margin-bottom:4px
        height:30px
        line-height:30px
        span:nth-child(1)
          display:inline-block
          width:100px
          background-color:#d9d9d9
          border-radius:6px
          color:#646464
          text-align:center
          margin-right:30px
        span:nth-child(2),span:nth-child(3)
          color:#426df7
      
        